{% include 'django/forms/widgets/input.html' %}{% if related_url %}
awd
<a href="{{ related_url }}" class="related-lookup" id="lookup_id_{{ widget.name }}" title="{{ link_title }}"></a>
{% endif %}{% if link_label %}
<strong>{% if link_url %}<a href="{{ link_url }}">{{ link_label }}</a>
{% else %}{{ link_label }}{% endif %}</strong>{% endif %}