{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <div style="display: flex; justify-content: right;">
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink btn btn-primary">
          {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
        </a>
    </div>
  </li>
  {% endif %}
{% endblock %}